
.main-wrapper .form-wrapper .nav-links .fanpage {
    font-weight: 500;
    text-decoration:none;
    color:#000 ;
    background-color:#42ff8a ;
    padding: 8px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.main-wrapper .form-wrapper .nav-links .talentpage{
    color: #fff ;
    font-weight: 500;
    padding-right: 10px;
}